{% load static fresh_static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Askcompany{% endblock %}</title>
    <style>
        body {
            background-color: lightblue;
        }
    </style>
{% block extra_head %}
    <link rel="stylesheet" href="{% fresh_static "main.css" %}"/>
 {% endblock %}
</head>
<body>
<h1>Ask Company</h1>
{% block content %}
    <script src="{% static "main.js" %}"></script>
{% endblock %}
<hr/>
&copy; 2020. Nam_Minjeong.
{% block extra_body %}{% endblock %}
</body>
</html>