{% extends "shop/layout.html" %}
{% block content %}
    <form action="" method="GET">
        <input type="text" name="q" value="{{q}}"/>
        <input type="submit" value="검색"/>
    </form>
    {% for item in item_list %}
    <div>
        <a href="{{ item.get_absolute_url }}">
            {{item.name}}
        </a>
        가격: {{item.price}}
        {% if item.desc %}
        {{item.desc}}
        {% endif %}
    </div>
         <br>
    {% endfor %}
    <a href="{% url "shop:item_new"  %}">New Item</a>
{% endblock %}